{% extends "base.html" %}
{% block content %}
    <div class="product-view">
        <h3 class="my-header">Название товара</h3>
        <div class="row">

            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-6">
                        {% for image in product.images %}
                            <a href="{{ image.image.url }}">
                                <img src="{{ image.image_thumbnail.url }}" alt="">
                            </a>
                        {% endfor %}

                    </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <p>Availability:
                {% if product.quantity > 5 %}
                    <b class="text-success">In stock</b>
                {% elif product.quantity < 5 and product.quantity > 0%}
                    <b class="text-warning">About to end</b>
                {% else %}
                    <b class="text-danger">Not available</b>
                {% endif %} </p>
                <b class="text-danger product-price">{{ product.price}}</b>
                <form action="">
                    <div class="input-group mb-3">
                        <input type="number" min="1" step="1" max="100" value="1" class="form-control">
                        <button class="btn btn-success" type="button" id="button-addon1">Купить</button>
                    </div>
                </form>
                <br>
            {% if product.description %}
                <h4 class="text-center">Description</h4>
                <p>{{ product.description}}</p>
            {% endif %}
            </div>

        </div>
    </div>
{% endblock %}