{% load mathfilters %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Photo</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for row in cart.cart %}
        <tr>
            <td>
                <a href="{% url 'catalog:product_detail' slug=row.product.slug pk=row.product.pk %}">
                    <img class="img-thumbnail" width="70" src="{{ row.product.main_image.image_thumbnail.url }}" alt="">
                </a>
            </td>
            <td><a href="{% url 'catalog:product_detail' slug=row.product.slug pk=row.product.pk %}">{{ row.product.name }}</a></td>
            <td>{{ row.quantity }}</td>
            <td>{{ row.product.price }}</td>
            <td>{{ row.product.price|mul:row.quantity }} $.</td>
            <td>
                <a href="{% url 'cart:delete_from_cart' product_id=row.product_id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="4" class="text-end"><b>In total:</b></td>
        <td colspan="2">{{ cart.total }} грн.</td>
    </tr>
    </tbody>
</table>